.cards
  h2.section__title
    | Here are Some Excellent Cards for Paying Your Property Taxes:

  .cards__content
    a.cards-item(href='https://www.rewardexpert.com/credit-cards/cards/chase-freedom-unlimited')
      .cards-item-img
        picture
          img.tips__img(src="images/cards/chase_freedom.png", srcset="images/cards/chase_freedom@2x.png 2x")

      .cards-item-text-wrap
        span.cards-item-text
          | Chase Freedom Unlimited

    a.cards-item(href='https://www.rewardexpert.com/credit-cards/cards/citi-simplicity-card')
      .cards-item-img
        picture
          img.tips__img(src="images/cards/citi_simplicity.png", srcset="images/cards/citi_simplicity@2x.png 2x")

      .cards-item-text-wrap
        span.cards-item-text
          | Citi Simplicity

    a.cards-item(href='https://www.rewardexpert.com/credit-cards/cards/chase-sapphire-preferred-card')
      .cards-item-img
        picture
          img.tips__img(src="images/cards/chase_sapphire.png", srcset="images/cards/chase_sapphire@2x.png 2x")

      .cards-item-text-wrap
        span.cards-item-text
          | Chase Sapphire Preferred
