include ./table-data-mountainwest
include ./svg-mixins

.section.section--table.section--g-table
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Best U.S. Counties for Property Taxes

    .breadcrumbs__item
      | Full Ranking for the Mountain West Region

  h2.section__title.section__title--table
    | Full Ranking for the Mountain West Region

  .table-svg-container
    +table_svg

  .container-group
    .ranking-table__container
      .ranking-table__wrapper
        table.ranking-table.ranking-table--data
          tbody.ranking-table__tbody--mountain
            each value in values
              tr
                td
                  span.ranking-table__rank
                    = value.rank

                  span.semibold
                    = value.name

                  |, 
                  = value.state


  .btn-container.btn-container--show-full
    button.btn-go-back
      span.btn-go-back-text Show the full data
      +btn_icon
