h2.section__title Methodology
.methodology__content
  img.methodology__img(src='images/svg/methodology-icon.svg')
  .methodology__text
    p.methodology__text-item
      | RewardExpert ranked counties based on the average effective tax rate and the ratio of the average tax bill to the median list price of homes in the county and to the median per capita income in the county.  We also included homestead and primary residence exemptions and/or tax credits, as well as property transfer taxes, as provided for by state law. To calculate the effective tax rate, we calculated the assessed value of a home with a market value of $100,000 using the state or county assessment/equalization ratio, and then the amount of tax that would be due for such a property by multiplying assessed value by the county property tax rate. To calculate the ratios relative to list price and income, we followed the same process starting with the median home price in the county. The average of these three figures yields the score according to which counties were rated within each of six regions.

.methodology__sources
  h3.methodology__sources-title
    | Sources:

  ul.methodology__sources-list
    li.methodology__sources-list-item
      | U.S. Census Bureau - American Community Survey

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='https://www.brookings.edu/interactives/map-property-taxes-in-your-county/')
        | Brookings Institute - County Property Taxes

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='https://www.zillow.com/research/data/')
        | Zillow, Median List Prices by County

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='http://datatoolkits.lincolninst.edu/subcenters/significant-features-property-tax/Report_Tax_Base_by_Property_Type.aspx')
        | Lincoln Institute for Land Policy, Significant Features of the Property Tax

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='http://datatoolkits.lincolninst.edu/subcenters/significant-features-property-tax/Report_Residential_Property_Tax_Relief_Programs.aspx')
        | Lincoln Institute

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='http://orps1.orpts.ny.gov/cfapps/MuniPro/muni_theme/county/currequa.cfm?swis=59&prefix=StateWide')
        | NY Office of Real Property Tax Services

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='https://dced.pa.gov/library/')
        | PA Department of Community and Economic Development

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='https://www.colorado.gov/pacific/dola/residential-assessment-rate')
        | Colorado Department of Local Affairs

    li.methodology__sources-list-item
      a.methodology__sources-list-link(href='http://smallbusiness.chron.com/states-allow-sale-tax-lien-certificates-58547.html')
        | Houston Chronicle
