.notes
  .notes-exemptions
    h3.notes-title
      | Note on Exemptions

    p.notes-exemptions-text
      | All states offer various 
      a.notes-exemptions-link(href="http://datatoolkits.lincolninst.edu/subcenters/significant-features-property-tax/upload/sources/ContentPages/documents/Summary_Exemption_and_Credit_Programs_August2015.xlsx") exemptions
      | , incentives, and abatements that lower property tax liabilities for homeowners and certain classes of residents, such as senior citizens, veterans, and persons with disabilities. Generally speaking, these will exempt part of your home’s value from taxation by reducing the amount of the assessed value of your property for purposes of computing the amount of taxes due. Due to the fact that exemptions do not apply to all persons or properties equally, we have only included homestead/primary residence exemptions in our analysis.

  +notes_svg
  +notes_mob_svg

  .notes-equalization
    h3.notes-title
      | A Note on Equalization/Assessment Ratios

    p.notes-equalization-text
      | Property taxes are computed based on the assessed value of the property in question, which is not necessarily the same as the market value of the property. In most states the assessed value is required by state law to be 100 percent of the fair and true market value, but even then, assessed values tend to be somewhat lower than market values. In other states, such as Arkansas, Arizona, Colorado, Delaware, Georgia, Illinois, Nevada, New Mexico, New York, North Dakota, Pennsylvania, Tennessee, Utah, and West Virginia, property taxes are assessed only on a percentage of market value.

    p.notes-equalization-text
      | In short, tax rates alone only tell part of the story. For instance, property tax rates in Illinois are notoriously high; however, outside of Cook County, taxes are assessed upon only 33.3 percent of the market value of a property, which makes the effective tax rate one third of the stated rate. You can have a home worth three times as much as in a neighboring state with a comparable tax rate and have the same amount due on your property tax bill.
