include ./svg-mixins
include ./mixins
include ./data/states-data

section.section.section--wide.section--northeast
  +states_rank(northeast)

section.section.section--wide.section--southAtlantic
  +states_rank(southAtlantic)

section.section.section--wide.section--southCentral
  +states_rank(southCentral)

section.section.section--wide.section--midwest
  +states_rank(midwest)

section.section.section--wide.section--mountainWest
  +states_rank(mountainWest)

section.section.section--wide.section--pacificWest
  +states_rank(pacificWest)
