-
  var values = [
   {
     rank: 1,
     name: "Crawford",
     state: "AR"
   },
   {
     rank: 2,
     name: "Craighead",
     state: "AR"
   },
   {
     rank: 3,
     name: "St. Landry",
     state: "LA"
   },
   {
     rank: 4,
     name: "Lonoke",
     state: "AR"
   },
   {
     rank: 5,
     name: "Eddy",
     state: "NM"
   },
   {
     rank: 6,
     name: "Lea",
     state: "NM"
   },
   {
     rank: 7,
     name: "Garza",
     state: "TX"
   },
   {
     rank: 8,
     name: "Iberia",
     state: "LA"
   },
   {
     rank: 9,
     name: "Fayette",
     state: "TX"
   },
   {
     rank: 10,
     name: "San Patricio",
     state: "TX"
   },
   {
     rank: 11,
     name: "Cherokee",
     state: "TX"
   },
   {
     rank: 12,
     name: "Ouachita",
     state: "LA"
   },
   {
     rank: 13,
     name: "Real",
     state: "TX"
   },
   {
     rank: 14,
     name: "Bell",
     state: "TX"
   },
   {
     rank: 15,
     name: "Santa Cruz",
     state: "AZ"
   },
   {
     rank: 16,
     name: "Tillman",
     state: "OK"
   },
   {
     rank: 17,
     name: "Webb",
     state: "TX"
   },
   {
     rank: 18,
     name: "Victoria",
     state: "TX"
   },
   {
     rank: 19,
     name: "La Salle",
     state: "TX"
   },
   {
     rank: 20,
     name: "Richland",
     state: "LA"
   },
   {
     rank: 21,
     name: "Calhoun",
     state: "AR"
   },
   {
     rank: 22,
     name: "Taylor",
     state: "TX"
   },
   {
     rank: 23,
     name: "Dimmit",
     state: "TX"
   },
   {
     rank: 24,
     name: "Calcasieu",
     state: "LA"
   },
   {
     rank: 25,
     name: "Livingston",
     state: "LA"
   },
   {
     rank: 26,
     name: "Panola",
     state: "TX"
   },
   {
     rank: 27,
     name: "Morehouse",
     state: "LA"
   },
   {
     rank: 28,
     name: "Scurry",
     state: "TX"
   },
   {
     rank: 29,
     name: "Bosque",
     state: "TX"
   },
   {
     rank: 30,
     name: "St. James",
     state: "LA"
   },
   {
     rank: 31,
     name: "Armstrong",
     state: "TX"
   },
   {
     rank: 32,
     name: "Jackson",
     state: "OK"
   },
   {
     rank: 33,
     name: "Benton",
     state: "AR"
   },
   {
     rank: 34,
     name: "Kleberg",
     state: "TX"
   },
   {
     rank: 35,
     name: "Sterling",
     state: "TX"
   },
   {
     rank: 36,
     name: "Drew",
     state: "AR"
   },
   {
     rank: 37,
     name: "Quay",
     state: "NM"
   },
   {
     rank: 38,
     name: "Garland",
     state: "AR"
   },
   {
     rank: 39,
     name: "Creek",
     state: "OK"
   },
   {
     rank: 40,
     name: "Grant",
     state: "LA"
   },
   {
     rank: 41,
     name: "Sequoyah",
     state: "OK"
   },
   {
     rank: 42,
     name: "Comanche",
     state: "OK"
   },
   {
     rank: 44,
     name: "Cleveland",
     state: "AR"
   },
   {
     rank: 45,
     name: "Miller",
     state: "AR"
   },
   {
     rank: 46,
     name: "Orleans",
     state: "LA"
   },
   {
     rank: 47,
     name: "Washington",
     state: "LA"
   },
   {
     rank: 48,
     name: "Saline",
     state: "AR"
   },
   {
     rank: 49,
     name: "Nacogdoches",
     state: "TX"
   },
   {
     rank: 50,
     name: "Stephens",
     state: "OK"
   },
   {
     rank: 51,
     name: "Motley",
     state: "TX"
   },
   {
     rank: 52,
     name: "Winkler",
     state: "TX"
   },
   {
     rank: 53,
     name: "Andrews",
     state: "TX"
   },
   {
     rank: 54,
     name: "Bowie",
     state: "TX"
   },
   {
     rank: 55,
     name: "Pontotoc",
     state: "OK"
   },
   {
     rank: 56,
     name: "Eastland",
     state: "TX"
   },
   {
     rank: 57,
     name: "Harmon",
     state: "OK"
   },
   {
     rank: 58,
     name: "Pima",
     state: "AZ"
   },
   {
     rank: 59,
     name: "Cass",
     state: "TX"
   },
   {
     rank: 60,
     name: "Cooke",
     state: "TX"
   },
   {
     rank: 61,
     name: "Terry",
     state: "TX"
   },
   {
     rank: 62,
     name: "Randall",
     state: "TX"
   },
   {
     rank: 63,
     name: "Union",
     state: "AR"
   },
   {
     rank: 64,
     name: "Hempstead",
     state: "AR"
   },
   {
     rank: 65,
     name: "Jackson",
     state: "TX"
   },
   {
     rank: 66,
     name: "Hughes",
     state: "OK"
   },
   {
     rank: 67,
     name: "OK",
     state: "OK"
   },
   {
     rank: 68,
     name: "Canadian",
     state: "OK"
   },
   {
     rank: 69,
     name: "Clark",
     state: "AR"
   },
   {
     rank: 70,
     name: "Uvalde",
     state: "TX"
   },
   {
     rank: 71,
     name: "Madison",
     state: "TX"
   },
   {
     rank: 72,
     name: "Liberty",
     state: "TX"
   },
   {
     rank: 73,
     name: "Santa Fe",
     state: "NM"
   },
   {
     rank: 74,
     name: "Greenlee",
     state: "AZ"
   },
   {
     rank: 75,
     name: "Hidalgo",
     state: "NM"
   },
   {
     rank: 76,
     name: "Polk",
     state: "AR"
   },
   {
     rank: 77,
     name: "Otero",
     state: "NM"
   },
   {
     rank: 79,
     name: "St. Bernard",
     state: "LA"
   },
   {
     rank: 80,
     name: "Loving",
     state: "TX"
   },
   {
     rank: 81,
     name: "McCulloch",
     state: "TX"
   },
   {
     rank: 82,
     name: "Waller",
     state: "TX"
   },
   {
     rank: 83,
     name: "Gray",
     state: "TX"
   },
   {
     rank: 84,
     name: "Cochise",
     state: "AZ"
   },
   {
     rank: 85,
     name: "Jefferson",
     state: "TX"
   },
   {
     rank: 86,
     name: "Beckham",
     state: "OK"
   },
   {
     rank: 87,
     name: "Nowata",
     state: "OK"
   },
   {
     rank: 88,
     name: "Red River",
     state: "TX"
   },
   {
     rank: 89,
     name: "Yoakum",
     state: "TX"
   },
   {
     rank: 90,
     name: "El Paso",
     state: "TX"
   },
   {
     rank: 91,
     name: "McMullen",
     state: "TX"
   },
   {
     rank: 92,
     name: "Bailey",
     state: "TX"
   },
   {
     rank: 93,
     name: "Grimes",
     state: "TX"
   },
   {
     rank: 94,
     name: "Ellis",
     state: "TX"
   },
   {
     rank: 95,
     name: "Johnson",
     state: "TX"
   },
   {
     rank: 96,
     name: "West Feliciana",
     state: "LA"
   },
   {
     rank: 97,
     name: "Bexar",
     state: "TX"
   },
   {
     rank: 98,
     name: "Brazoria",
     state: "TX"
   },
   {
     rank: 99,
     name: "Galveston",
     state: "TX"
   },
   {
     rank: 100,
     name: "Pecos",
     state: "TX"
   },
   {
     rank: 101,
     name: "Colorado",
     state: "TX"
   },
   {
     rank: 102,
     name: "Terrebonne",
     state: "LA"
   },
   {
     rank: 103,
     name: "Custer",
     state: "OK"
   },
   {
     rank: 104,
     name: "Hardin",
     state: "TX"
   },
   {
     rank: 105,
     name: "Mohave",
     state: "AZ"
   },
   {
     rank: 106,
     name: "Rusk",
     state: "TX"
   },
   {
     rank: 107,
     name: "Woodruff",
     state: "AR"
   },
   {
     rank: 108,
     name: "Haskell",
     state: "OK"
   },
   {
     rank: 109,
     name: "Brewster",
     state: "TX"
   },
   {
     rank: 110,
     name: "Franklin",
     state: "LA"
   },
   {
     rank: 111,
     name: "Delaware",
     state: "OK"
   },
   {
     rank: 112,
     name: "Coleman",
     state: "TX"
   },
   {
     rank: 113,
     name: "Union",
     state: "LA"
   },
   {
     rank: 114,
     name: "Kimble",
     state: "TX"
   },
   {
     rank: 115,
     name: "Tulsa",
     state: "OK"
   },
   {
     rank: 116,
     name: "Jim Hogg",
     state: "TX"
   },
   {
     rank: 117,
     name: "Starr",
     state: "TX"
   },
   {
     rank: 118,
     name: "Acadia",
     state: "LA"
   },
   {
     rank: 119,
     name: "Sherman",
     state: "TX"
   },
   {
     rank: 120,
     name: "Walker",
     state: "TX"
   },
   {
     rank: 121,
     name: "Zavala",
     state: "TX"
   },
   {
     rank: 122,
     name: "Harrison",
     state: "TX"
   },
   {
     rank: 123,
     name: "Okfuskee",
     state: "OK"
   },
   {
     rank: 124,
     name: "Tom Green",
     state: "TX"
   },
   {
     rank: 125,
     name: "Desha",
     state: "AR"
   },
   {
     rank: 126,
     name: "Van Zandt",
     state: "TX"
   },
   {
     rank: 127,
     name: "Caldwell",
     state: "LA"
   },
   {
     rank: 128,
     name: "Coal",
     state: "OK"
   },
   {
     rank: 129,
     name: "Mora",
     state: "NM"
   },
   {
     rank: 130,
     name: "West Carroll",
     state: "LA"
   },
   {
     rank: 131,
     name: "Baxter",
     state: "AR"
   },
   {
     rank: 132,
     name: "Muskogee",
     state: "OK"
   },
   {
     rank: 133,
     name: "Crockett",
     state: "TX"
   },
   {
     rank: 134,
     name: "Washita",
     state: "OK"
   },
   {
     rank: 136,
     name: "Cleburne",
     state: "AR"
   },
   {
     rank: 137,
     name: "Blanco",
     state: "TX"
   },
   {
     rank: 138,
     name: "Donley",
     state: "TX"
   },
   {
     rank: 139,
     name: "Palo Pinto",
     state: "TX"
   },
   {
     rank: 140,
     name: "Erath",
     state: "TX"
   },
   {
     rank: 141,
     name: "McClain",
     state: "OK"
   },
   {
     rank: 142,
     name: "Nolan",
     state: "TX"
   },
   {
     rank: 143,
     name: "Titus",
     state: "TX"
   },
   {
     rank: 144,
     name: "Gila",
     state: "AZ"
   },
   {
     rank: 145,
     name: "Calhoun",
     state: "TX"
   },
   {
     rank: 146,
     name: "Assumption",
     state: "LA"
   },
   {
     rank: 147,
     name: "Baylor",
     state: "TX"
   },
   {
     rank: 148,
     name: "Sevier",
     state: "AR"
   },
   {
     rank: 149,
     name: "Marion",
     state: "AR"
   },
   {
     rank: 150,
     name: "Sierra",
     state: "NM"
   },
   {
     rank: 151,
     name: "Lamar",
     state: "TX"
   },
   {
     rank: 152,
     name: "Potter",
     state: "TX"
   },
   {
     rank: 154,
     name: "Le Flore",
     state: "OK"
   },
   {
     rank: 155,
     name: "Sabine",
     state: "TX"
   },
   {
     rank: 156,
     name: "Moore",
     state: "TX"
   },
   {
     rank: 157,
     name: "Yavapai",
     state: "AZ"
   },
   {
     rank: 158,
     name: "Apache",
     state: "AZ"
   },
   {
     rank: 159,
     name: "Rio Arriba",
     state: "NM"
   },
   {
     rank: 160,
     name: "Oldham",
     state: "TX"
   },
   {
     rank: 161,
     name: "Hudspeth",
     state: "TX"
   },
   {
     rank: 162,
     name: "Kaufman",
     state: "TX"
   },
   {
     rank: 163,
     name: "Travis",
     state: "TX"
   },
   {
     rank: 164,
     name: "St. Helena",
     state: "LA"
   },
   {
     rank: 165,
     name: "Cotton",
     state: "OK"
   },
   {
     rank: 166,
     name: "Searcy",
     state: "AR"
   },
   {
     rank: 167,
     name: "Roger Mills",
     state: "OK"
   },
   {
     rank: 168,
     name: "Tensas",
     state: "LA"
   },
   {
     rank: 169,
     name: "Kiowa",
     state: "OK"
   },
   {
     rank: 170,
     name: "Pittsburg",
     state: "OK"
   },
   {
     rank: 171,
     name: "Lincoln",
     state: "NM"
   },
   {
     rank: 172,
     name: "Los Alamos",
     state: "NM"
   },
   {
     rank: 173,
     name: "Jones",
     state: "TX"
   },
   {
     rank: 174,
     name: "Irion",
     state: "TX"
   },
   {
     rank: 175,
     name: "Madison",
     state: "AR"
   },
   {
     rank: 176,
     name: "Hartley",
     state: "TX"
   },
   {
     rank: 177,
     name: "Pushmataha",
     state: "OK"
   },
   {
     rank: 178,
     name: "St. Martin",
     state: "LA"
   },
   {
     rank: 179,
     name: "McIntosh",
     state: "OK"
   },
   {
     rank: 180,
     name: "Hale",
     state: "TX"
   },
   {
     rank: 181,
     name: "DeWitt",
     state: "TX"
   },
   {
     rank: 182,
     name: "Craig",
     state: "OK"
   },
   {
     rank: 183,
     name: "Love",
     state: "OK"
   },
   {
     rank: 184,
     name: "St. Mary",
     state: "LA"
   },
   {
     rank: 185,
     name: "San Saba",
     state: "TX"
   },
   {
     rank: 186,
     name: "Bernalillo",
     state: "NM"
   },
   {
     rank: 187,
     name: "Dickens",
     state: "TX"
   },
   {
     rank: 188,
     name: "Stone",
     state: "AR"
   },
   {
     rank: 189,
     name: "San Miguel",
     state: "NM"
   },
   {
     rank: 190,
     name: "Kenedy",
     state: "TX"
   },
   {
     rank: 191,
     name: "Burnet",
     state: "TX"
   },
   {
     rank: 192,
     name: "Parker",
     state: "TX"
   },
   {
     rank: 193,
     name: "Pike",
     state: "AR"
   },
   {
     rank: 194,
     name: "Beauregard",
     state: "LA"
   },
   {
     rank: 195,
     name: "Morris",
     state: "TX"
   },
   {
     rank: 196,
     name: "Tangipahoa",
     state: "LA"
   },
   {
     rank: 197,
     name: "Stonewall",
     state: "TX"
   },
   {
     rank: 198,
     name: "Edwards",
     state: "TX"
   },
   {
     rank: 199,
     name: "Chicot",
     state: "AR"
   },
   {
     rank: 200,
     name: "Kinney",
     state: "TX"
   },
   {
     rank: 201,
     name: "Lincoln",
     state: "OK"
   },
   {
     rank: 202,
     name: "Carroll",
     state: "AR"
   },
   {
     rank: 204,
     name: "Crane",
     state: "TX"
   },
   {
     rank: 205,
     name: "Socorro",
     state: "NM"
   },
   {
     rank: 206,
     name: "Grant",
     state: "OK"
   },
   {
     rank: 207,
     name: "Nevada",
     state: "AR"
   },
   {
     rank: 208,
     name: "East Feliciana",
     state: "LA"
   },
   {
     rank: 209,
     name: "Bryan",
     state: "OK"
   },
   {
     rank: 210,
     name: "De Soto",
     state: "LA"
   },
   {
     rank: 211,
     name: "Kingfisher",
     state: "OK"
   },
   {
     rank: 212,
     name: "Gillespie",
     state: "TX"
   },
   {
     rank: 213,
     name: "Brown",
     state: "TX"
   },
   {
     rank: 214,
     name: "Rains",
     state: "TX"
   },
   {
     rank: 215,
     name: "Fort Bend",
     state: "TX"
   },
   {
     rank: 216,
     name: "Caldwell",
     state: "TX"
   },
   {
     rank: 217,
     name: "Wood",
     state: "TX"
   },
   {
     rank: 218,
     name: "Wichita",
     state: "TX"
   },
   {
     rank: 219,
     name: "Jefferson",
     state: "OK"
   },
   {
     rank: 220,
     name: "Newton",
     state: "TX"
   },
   {
     rank: 221,
     name: "Catron",
     state: "NM"
   },
   {
     rank: 222,
     name: "Culberson",
     state: "TX"
   },
   {
     rank: 223,
     name: "Coke",
     state: "TX"
   },
   {
     rank: 224,
     name: "Cottle",
     state: "TX"
   },
   {
     rank: 225,
     name: "Hansford",
     state: "TX"
   },
   {
     rank: 226,
     name: "Live Oak",
     state: "TX"
   },
   {
     rank: 227,
     name: "Floyd",
     state: "TX"
   },
   {
     rank: 228,
     name: "Rockwall",
     state: "TX"
   },
   {
     rank: 229,
     name: "Kent",
     state: "TX"
   },
   {
     rank: 230,
     name: "Matagorda",
     state: "TX"
   },
   {
     rank: 231,
     name: "Foard",
     state: "TX"
   },
   {
     rank: 232,
     name: "Natchitoches",
     state: "LA"
   },
   {
     rank: 233,
     name: "Bossier",
     state: "LA"
   },
   {
     rank: 235,
     name: "Mills",
     state: "TX"
   },
   {
     rank: 236,
     name: "Grant",
     state: "AR"
   },
   {
     rank: 237,
     name: "Kerr",
     state: "TX"
   },
   {
     rank: 238,
     name: "Milam",
     state: "TX"
   },
   {
     rank: 239,
     name: "Ouachita",
     state: "AR"
   },
   {
     rank: 240,
     name: "Trinity",
     state: "TX"
   },
   {
     rank: 241,
     name: "Crittenden",
     state: "AR"
   },
   {
     rank: 242,
     name: "Garvin",
     state: "OK"
   },
   {
     rank: 243,
     name: "Llano",
     state: "TX"
   },
   {
     rank: 244,
     name: "Upton",
     state: "TX"
   },
   {
     rank: 245,
     name: "Mayes",
     state: "OK"
   },
   {
     rank: 246,
     name: "Rogers",
     state: "OK"
   },
   {
     rank: 247,
     name: "Lampasas",
     state: "TX"
   },
   {
     rank: 248,
     name: "Maricopa",
     state: "AZ"
   },
   {
     rank: 249,
     name: "Howard",
     state: "AR"
   },
   {
     rank: 250,
     name: "Prairie",
     state: "AR"
   },
   {
     rank: 251,
     name: "Valencia",
     state: "NM"
   },
   {
     rank: 252,
     name: "Swisher",
     state: "TX"
   },
   {
     rank: 253,
     name: "Noble",
     state: "OK"
   },
   {
     rank: 254,
     name: "Johnson",
     state: "AR"
   },
   {
     rank: 255,
     name: "Torrance",
     state: "NM"
   },
   {
     rank: 256,
     name: "Camp",
     state: "TX"
   },
   {
     rank: 257,
     name: "Knox",
     state: "TX"
   },
   {
     rank: 258,
     name: "Dona Ana",
     state: "NM"
   },
   {
     rank: 260,
     name: "Jasper",
     state: "TX"
   },
   {
     rank: 261,
     name: "Jefferson",
     state: "LA"
   },
   {
     rank: 262,
     name: "Montgomery",
     state: "TX"
   },
   {
     rank: 263,
     name: "Crosby",
     state: "TX"
   },
   {
     rank: 264,
     name: "Fannin",
     state: "TX"
   },
   {
     rank: 265,
     name: "Independence",
     state: "AR"
   },
   {
     rank: 266,
     name: "Robertson",
     state: "TX"
   },
   {
     rank: 267,
     name: "Reagan",
     state: "TX"
   },
   {
     rank: 268,
     name: "Jim Wells",
     state: "TX"
   },
   {
     rank: 269,
     name: "Ascension",
     state: "LA"
   },
   {
     rank: 270,
     name: "Houston",
     state: "TX"
   },
   {
     rank: 271,
     name: "Iberville",
     state: "LA"
   },
   {
     rank: 272,
     name: "Shackelford",
     state: "TX"
   },
   {
     rank: 273,
     name: "Duval",
     state: "TX"
   },
   {
     rank: 274,
     name: "Wilson",
     state: "TX"
   },
   {
     rank: 275,
     name: "Coconino",
     state: "AZ"
   },
   {
     rank: 276,
     name: "McLennan",
     state: "TX"
   },
   {
     rank: 277,
     name: "Leon",
     state: "TX"
   },
   {
     rank: 278,
     name: "Collin",
     state: "TX"
   },
   {
     rank: 279,
     name: "Jackson",
     state: "AR"
   },
   {
     rank: 280,
     name: "Scott",
     state: "AR"
   },
   {
     rank: 281,
     name: "Webster",
     state: "LA"
   },
   {
     rank: 282,
     name: "Chambers",
     state: "TX"
   },
   {
     rank: 283,
     name: "Marion",
     state: "TX"
   },
   {
     rank: 284,
     name: "Pulaski",
     state: "AR"
   },
   {
     rank: 285,
     name: "Cleveland",
     state: "OK"
   },
   {
     rank: 286,
     name: "Curry",
     state: "NM"
   },
   {
     rank: 287,
     name: "Grant",
     state: "NM"
   },
   {
     rank: 288,
     name: "Dewey",
     state: "OK"
   },
   {
     rank: 289,
     name: "Cross",
     state: "AR"
   },
   {
     rank: 290,
     name: "Grady",
     state: "OK"
   },
   {
     rank: 291,
     name: "Dallas",
     state: "TX"
   },
   {
     rank: 292,
     name: "Lincoln",
     state: "AR"
   },
   {
     rank: 293,
     name: "Glasscock",
     state: "TX"
   },
   {
     rank: 294,
     name: "Bastrop",
     state: "TX"
   },
   {
     rank: 295,
     name: "Roberts",
     state: "TX"
   },
   {
     rank: 296,
     name: "Tarrant",
     state: "TX"
   },
   {
     rank: 297,
     name: "Payne",
     state: "OK"
   },
   {
     rank: 298,
     name: "Cibola",
     state: "NM"
   },
   {
     rank: 299,
     name: "Lipscomb",
     state: "TX"
   },
   {
     rank: 300,
     name: "Hamilton",
     state: "TX"
   },
   {
     rank: 301,
     name: "Fulton",
     state: "AR"
   },
   {
     rank: 302,
     name: "Murray",
     state: "OK"
   },
   {
     rank: 303,
     name: "Hutchinson",
     state: "TX"
   },
   {
     rank: 304,
     name: "Carter",
     state: "OK"
   },
   {
     rank: 305,
     name: "Runnels",
     state: "TX"
   },
   {
     rank: 306,
     name: "Beaver",
     state: "OK"
   },
   {
     rank: 307,
     name: "Pawnee",
     state: "OK"
   },
   {
     rank: 308,
     name: "St. John the Baptist",
     state: "LA"
   },
   {
     rank: 309,
     name: "Frio",
     state: "TX"
   },
   {
     rank: 310,
     name: "Roosevelt",
     state: "NM"
   },
   {
     rank: 311,
     name: "Comanche",
     state: "TX"
   },
   {
     rank: 312,
     name: "Willacy",
     state: "TX"
   },
   {
     rank: 313,
     name: "San Jacinto",
     state: "TX"
   },
   {
     rank: 314,
     name: "Logan",
     state: "OK"
   },
   {
     rank: 315,
     name: "Sutton",
     state: "TX"
   },
   {
     rank: 316,
     name: "Jackson",
     state: "LA"
   },
   {
     rank: 317,
     name: "San Juan",
     state: "NM"
   },
   {
     rank: 318,
     name: "Seminole",
     state: "OK"
   },
   {
     rank: 319,
     name: "Menard",
     state: "TX"
   },
   {
     rank: 320,
     name: "Chaves",
     state: "NM"
   },
   {
     rank: 321,
     name: "Austin",
     state: "TX"
   },
   {
     rank: 322,
     name: "Pottawatomie",
     state: "OK"
   },
   {
     rank: 323,
     name: "Maverick",
     state: "TX"
   },
   {
     rank: 324,
     name: "Concho",
     state: "TX"
   },
   {
     rank: 325,
     name: "Caddo",
     state: "OK"
   },
   {
     rank: 326,
     name: "Guadalupe",
     state: "TX"
   },
   {
     rank: 327,
     name: "Wise",
     state: "TX"
   },
   {
     rank: 328,
     name: "Taos",
     state: "NM"
   },
   {
     rank: 329,
     name: "Gaines",
     state: "TX"
   },
   {
     rank: 330,
     name: "Somervell",
     state: "TX"
   },
   {
     rank: 331,
     name: "Shelby",
     state: "TX"
   },
   {
     rank: 332,
     name: "Childress",
     state: "TX"
   },
   {
     rank: 333,
     name: "Lynn",
     state: "TX"
   },
   {
     rank: 334,
     name: "Vermilion",
     state: "LA"
   },
   {
     rank: 335,
     name: "Montgomery",
     state: "AR"
   },
   {
     rank: 336,
     name: "Borden",
     state: "TX"
   },
   {
     rank: 337,
     name: "Ochiltree",
     state: "TX"
   },
   {
     rank: 338,
     name: "Midland",
     state: "TX"
   },
   {
     rank: 339,
     name: "Lamb",
     state: "TX"
   },
   {
     rank: 340,
     name: "Sandoval",
     state: "NM"
   },
   {
     rank: 341,
     name: "Phillips",
     state: "AR"
   },
   {
     rank: 342,
     name: "Allen",
     state: "LA"
   },
   {
     rank: 343,
     name: "Washington",
     state: "AR"
   },
   {
     rank: 344,
     name: "Van Buren",
     state: "AR"
   },
   {
     rank: 347,
     name: "San Augustine",
     state: "TX"
   },
   {
     rank: 348,
     name: "Henderson",
     state: "TX"
   },
   {
     rank: 349,
     name: "Lawrence",
     state: "AR"
   },
   {
     rank: 350,
     name: "Pinal",
     state: "AZ"
   },
   {
     rank: 351,
     name: "Hockley",
     state: "TX"
   },
   {
     rank: 352,
     name: "Gonzales",
     state: "TX"
   },
   {
     rank: 353,
     name: "Tyler",
     state: "TX"
   },
   {
     rank: 354,
     name: "Concordia",
     state: "LA"
   },
   {
     rank: 355,
     name: "Izard",
     state: "AR"
   },
   {
     rank: 356,
     name: "Deaf Smith",
     state: "TX"
   },
   {
     rank: 357,
     name: "Mason",
     state: "TX"
   },
   {
     rank: 358,
     name: "Martin",
     state: "TX"
   },
   {
     rank: 359,
     name: "Mitchell",
     state: "TX"
   },
   {
     rank: 360,
     name: "Angelina",
     state: "TX"
   },
   {
     rank: 361,
     name: "Major",
     state: "OK"
   },
   {
     rank: 362,
     name: "Cimarron",
     state: "OK"
   },
   {
     rank: 363,
     name: "Navajo",
     state: "AZ"
   },
   {
     rank: 364,
     name: "Hill",
     state: "TX"
   },
   {
     rank: 365,
     name: "Catahoula",
     state: "LA"
   },
   {
     rank: 366,
     name: "Burleson",
     state: "TX"
   },
   {
     rank: 367,
     name: "Kendall",
     state: "TX"
   },
   {
     rank: 368,
     name: "Cameron",
     state: "LA"
   },
   {
     rank: 369,
     name: "Hardeman",
     state: "TX"
   },
   {
     rank: 370,
     name: "Graham",
     state: "AZ"
   },
   {
     rank: 371,
     name: "Gregg",
     state: "TX"
   },
   {
     rank: 372,
     name: "Orange",
     state: "TX"
   },
   {
     rank: 373,
     name: "Cochran",
     state: "TX"
   },
   {
     rank: 374,
     name: "Harper",
     state: "OK"
   },
   {
     rank: 375,
     name: "AR",
     state: "AR"
   },
   {
     rank: 376,
     name: "Anderson",
     state: "TX"
   },
   {
     rank: 377,
     name: "Wagoner",
     state: "OK"
   },
   {
     rank: 378,
     name: "Franklin",
     state: "TX"
   },
   {
     rank: 379,
     name: "Ector",
     state: "TX"
   },
   {
     rank: 380,
     name: "Smith",
     state: "TX"
   },
   {
     rank: 381,
     name: "Vernon",
     state: "LA"
   },
   {
     rank: 382,
     name: "Ashley",
     state: "AR"
   },
   {
     rank: 383,
     name: "Luna",
     state: "NM"
   },
   {
     rank: 384,
     name: "Brooks",
     state: "TX"
   },
   {
     rank: 385,
     name: "King",
     state: "TX"
   },
   {
     rank: 386,
     name: "Archer",
     state: "TX"
   },
   {
     rank: 387,
     name: "Red River",
     state: "LA"
   },
   {
     rank: 388,
     name: "Osage",
     state: "OK"
   },
   {
     rank: 389,
     name: "Faulkner",
     state: "AR"
   },
   {
     rank: 390,
     name: "Carson",
     state: "TX"
   },
   {
     rank: 391,
     name: "Yuma",
     state: "AZ"
   },
   {
     rank: 392,
     name: "Okmulgee",
     state: "OK"
   },
   {
     rank: 393,
     name: "Marshall",
     state: "OK"
   },
   {
     rank: 394,
     name: "Hopkins",
     state: "TX"
   },
   {
     rank: 395,
     name: "Hall",
     state: "TX"
   },
   {
     rank: 396,
     name: "Castro",
     state: "TX"
   },
   {
     rank: 397,
     name: "St. Francis",
     state: "AR"
   },
   {
     rank: 398,
     name: "Bradley",
     state: "AR"
   },
   {
     rank: 399,
     name: "Collingsworth",
     state: "TX"
   },
   {
     rank: 400,
     name: "Fisher",
     state: "TX"
   },
   {
     rank: 401,
     name: "Limestone",
     state: "TX"
   },
   {
     rank: 402,
     name: "Randolph",
     state: "AR"
   },
   {
     rank: 403,
     name: "Union",
     state: "NM"
   },
   {
     rank: 404,
     name: "Aransas",
     state: "TX"
   },
   {
     rank: 405,
     name: "Val Verde",
     state: "TX"
   },
   {
     rank: 406,
     name: "Polk",
     state: "TX"
   },
   {
     rank: 407,
     name: "Ottawa",
     state: "OK"
   },
   {
     rank: 408,
     name: "TX",
     state: "OK"
   },
   {
     rank: 409,
     name: "Hunt",
     state: "TX"
   },
   {
     rank: 410,
     name: "Hays",
     state: "TX"
   },
   {
     rank: 411,
     name: "De Baca",
     state: "NM"
   },
   {
     rank: 412,
     name: "Lee",
     state: "AR"
   },
   {
     rank: 413,
     name: "Clay",
     state: "AR"
   },
   {
     rank: 414,
     name: "Hidalgo",
     state: "TX"
   },
   {
     rank: 415,
     name: "Logan",
     state: "AR"
   },
   {
     rank: 416,
     name: "Washington",
     state: "OK"
   },
   {
     rank: 417,
     name: "Stephens",
     state: "TX"
   },
   {
     rank: 418,
     name: "Schleicher",
     state: "TX"
   },
   {
     rank: 419,
     name: "Williamson",
     state: "TX"
   },
   {
     rank: 420,
     name: "Winn",
     state: "LA"
   },
   {
     rank: 421,
     name: "Jeff Davis",
     state: "TX"
   },
   {
     rank: 422,
     name: "Coryell",
     state: "TX"
   },
   {
     rank: 423,
     name: "Falls",
     state: "TX"
   },
   {
     rank: 424,
     name: "St. Charles",
     state: "LA"
   },
   {
     rank: 425,
     name: "Greer",
     state: "OK"
   },
   {
     rank: 426,
     name: "Grayson",
     state: "TX"
   },
   {
     rank: 427,
     name: "McKinley",
     state: "NM"
   },
   {
     rank: 428,
     name: "Lavaca",
     state: "TX"
   },
   {
     rank: 429,
     name: "Hood",
     state: "TX"
   },
   {
     rank: 430,
     name: "Young",
     state: "TX"
   },
   {
     rank: 431,
     name: "Lubbock",
     state: "TX"
   },
   {
     rank: 432,
     name: "Harris",
     state: "TX"
   },
   {
     rank: 433,
     name: "McCurtain",
     state: "OK"
   },
   {
     rank: 434,
     name: "Jefferson Davis",
     state: "LA"
   },
   {
     rank: 435,
     name: "Callahan",
     state: "TX"
   },
   {
     rank: 436,
     name: "West Baton Rouge",
     state: "LA"
   },
   {
     rank: 437,
     name: "Nueces",
     state: "TX"
   },
   {
     rank: 438,
     name: "Ward",
     state: "TX"
   },
   {
     rank: 439,
     name: "Kay",
     state: "OK"
   },
   {
     rank: 440,
     name: "Avoyelles",
     state: "LA"
   },
   {
     rank: 441,
     name: "Conway",
     state: "AR"
   },
   {
     rank: 442,
     name: "Caddo",
     state: "LA"
   },
   {
     rank: 443,
     name: "Washington",
     state: "TX"
   },
   {
     rank: 444,
     name: "Atascosa",
     state: "TX"
   },
   {
     rank: 445,
     name: "Cherokee",
     state: "OK"
   },
   {
     rank: 446,
     name: "Medina",
     state: "TX"
   },
   {
     rank: 447,
     name: "Bandera",
     state: "TX"
   },
   {
     rank: 448,
     name: "Bee",
     state: "TX"
   },
   {
     rank: 449,
     name: "Ellis",
     state: "OK"
   },
   {
     rank: 450,
     name: "Reeves",
     state: "TX"
   },
   {
     rank: 451,
     name: "Woodward",
     state: "OK"
   },
   {
     rank: 452,
     name: "Wharton",
     state: "TX"
   },
   {
     rank: 453,
     name: "Boone",
     state: "AR"
   },
   {
     rank: 454,
     name: "Evangeline",
     state: "LA"
   },
   {
     rank: 455,
     name: "Bienville",
     state: "LA"
   },
   {
     rank: 456,
     name: "Goliad",
     state: "TX"
   },
   {
     rank: 457,
     name: "Guadalupe",
     state: "NM"
   },
   {
     rank: 458,
     name: "Perry",
     state: "AR"
   },
   {
     rank: 459,
     name: "Johnston",
     state: "OK"
   },
   {
     rank: 460,
     name: "Dallam",
     state: "TX"
   },
   {
     rank: 461,
     name: "Garfield",
     state: "OK"
   },
   {
     rank: 462,
     name: "Comal",
     state: "TX"
   },
   {
     rank: 463,
     name: "Briscoe",
     state: "TX"
   },
   {
     rank: 464,
     name: "Harding",
     state: "NM"
   },
   {
     rank: 465,
     name: "Brazos",
     state: "TX"
   },
   {
     rank: 466,
     name: "Terrell",
     state: "TX"
   },
   {
     rank: 467,
     name: "Monroe",
     state: "AR"
   },
   {
     rank: 468,
     name: "Haskell",
     state: "TX"
   },
   {
     rank: 469,
     name: "Sabine",
     state: "LA"
   },
   {
     rank: 470,
     name: "Delta",
     state: "TX"
   },
   {
     rank: 471,
     name: "Woods",
     state: "OK"
   },
   {
     rank: 472,
     name: "Karnes",
     state: "TX"
   },
   {
     rank: 473,
     name: "Colfax",
     state: "NM"
   },
   {
     rank: 474,
     name: "Upshur",
     state: "TX"
   },
   {
     rank: 475,
     name: "Franklin",
     state: "AR"
   },
   {
     rank: 476,
     name: "Dawson",
     state: "TX"
   },
   {
     rank: 477,
     name: "Hemphill",
     state: "TX"
   },
   {
     rank: 478,
     name: "Parmer",
     state: "TX"
   },
   {
     rank: 479,
     name: "Lee",
     state: "TX"
   },
   {
     rank: 480,
     name: "Howard",
     state: "TX"
   },
   {
     rank: 481,
     name: "Navarro",
     state: "TX"
   },
   {
     rank: 482,
     name: "Mississippi",
     state: "AR"
   },
   {
     rank: 483,
     name: "Newton",
     state: "AR"
   },
   {
     rank: 484,
     name: "Dallas",
     state: "AR"
   },
   {
     rank: 485,
     name: "Clay",
     state: "TX"
   },
   {
     rank: 486,
     name: "Cameron",
     state: "TX"
   },
   {
     rank: 487,
     name: "Poinsett",
     state: "AR"
   },
   {
     rank: 488,
     name: "Jack",
     state: "TX"
   },
   {
     rank: 489,
     name: "La Paz",
     state: "AZ"
   },
   {
     rank: 490,
     name: "Little River",
     state: "AR"
   },
   {
     rank: 491,
     name: "Lincoln",
     state: "LA"
   },
   {
     rank: 492,
     name: "Choctaw",
     state: "OK"
   },
   {
     rank: 493,
     name: "Denton",
     state: "TX"
   },
   {
     rank: 494,
     name: "Rapides",
     state: "LA"
   },
   {
     rank: 495,
     name: "Montague",
     state: "TX"
   },
   {
     rank: 496,
     name: "Refugio",
     state: "TX"
   },
   {
     rank: 497,
     name: "Pointe Coupee",
     state: "LA"
   },
   {
     rank: 498,
     name: "Sharp",
     state: "AR"
   },
   {
     rank: 499,
     name: "Plaquemines",
     state: "LA"
   },
   {
     rank: 500,
     name: "Presidio",
     state: "TX"
   },
   {
     rank: 501,
     name: "Zapata",
     state: "TX"
   },
   {
     rank: 502,
     name: "Freestone",
     state: "TX"
   },
   {
     rank: 503,
     name: "Blaine",
     state: "OK"
   },
   {
     rank: 504,
     name: "Throckmorton",
     state: "TX"
   },
   {
     rank: 505,
     name: "Adair",
     state: "OK"
   },
   {
     rank: 506,
     name: "St. Tammany",
     state: "LA"
   },
   {
     rank: 507,
     name: "Wheeler",
     state: "TX"
   },
   {
     rank: 508,
     name: "Atoka",
     state: "OK"
   },
   {
     rank: 509,
     name: "Yell",
     state: "AR"
   },
   {
     rank: 510,
     name: "Wilbarger",
     state: "TX"
   },
   {
     rank: 511,
     name: "Madison",
     state: "LA"
   },
   {
     rank: 512,
     name: "East Baton Rouge",
     state: "LA"
   },
   {
     rank: 513,
     name: "East Carroll",
     state: "LA"
   },
   {
     rank: 514,
     name: "Alfalfa",
     state: "OK"
   },
   {
     rank: 515,
     name: "Claiborne",
     state: "LA"
   },
   {
     rank: 516,
     name: "Columbia",
     state: "AR"
   },
   {
     rank: 517,
     name: "Greene",
     state: "AR"
   },
   {
     rank: 518,
     name: "Hot Spring",
     state: "AR"
   },
   {
     rank: 519,
     name: "Lafayette",
     state: "AR"
   },
   {
     rank: 520,
     name: "Lafayette",
     state: "LA"
   },
   {
     rank: 521,
     name: "Lafourche",
     state: "LA"
   },
   {
     rank: 522,
     name: "LaSalle",
     state: "LA"
   },
   {
     rank: 523,
     name: "Latimer",
     state: "OK"
   }
  ]
