h2.section__title.section__title--white
  | What Happens When Property Taxes Are Not Paid

.tips
  ul.tips__list
    li.tips__list-item
      p.tips__list-item-text
        span.semibold
          | It is important to pay your property tax bill if you want to keep your home. 

        | In many states tax delinquent properties can be foreclosed upon by the county and auctioned off to the highest bidder at a tax deed sale. You will lose your home and receive nothing from the proceeds of the sale, which go directly to the county. The new owner of your home may only have had to pay the balance of the tax bill you did not pay.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold
          | States in which a tax deed auction may occur include: 

        | Alaska, Arkansas, California, Connecticut, Delaware, Florida, Georgia, Hawaii, Idaho, Kansas, Maine, Michigan, Missouri, Nevada, New Hampshire, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Dakota, Tennessee, Texas, Utah, Virginia, Washington, and Wisconsin.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold
          | Even if you live in a state that does not foreclose upon and sell tax delinquent properties, you will be unable to improve or sell your property. 

        | In Alabama, Arizona, Colorado, D.C., Florida, Illinois, Indiana, Iowa, Kentucky, Maryland, Mississippi, Missouri, Montana, Nebraska, New Jersey, North Dakota, Ohio, Oklahoma, South Carolina, South Dakota, Vermont, West Virginia, and Wyoming, a tax lien will be attached to the property and the right to collect your unpaid taxes plus interest may be auctioned off to an investor.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold
          | Tax liens must be paid off or “redeemed” within a specified time frame, or the investor can foreclose and take possession of your property.

  +house_svg

  .tips__items
    .tips__item
      h3.tips__item-title
        | You Can Pay Your Property Taxes with a Credit Card

      .tips__item-text
        | While it can be a bit more complicated to 
        a.tips__item-link(href="https://www.rewardexpert.com/blog/earning-miles-for-paying-taxes/")
          | pay your income tax with a credit card

        | , many local governments give homeowners the option to pay for their property taxes with a credit card. Unfortunately, in most cases you’ll be hit with a 2 to 3 percent fee. That may not sound like much, but it can really add up if you’re paying thousands of dollars in taxes.

      .tips__item-text
        | There are a few advantages to paying with a credit card, though. It can give you more time to pay, and you might even earn rewards or cash back. It’s possible to cut those fees down or cover them entirely if you get the right card. Let’s take a closer look.

    .tips__item
      h3.tips__item-title
        | More Time to Pay

      .tips__item-text
        | This may be the most compelling reason to pay with a card. Once you put your taxes on a card, you can take your time paying off the balance since you can spread out the payments over several billing periods. This can be a real godsend for anybody who doesn’t have the lump sum to cover their entire tax bill.

      .tips__item-text
        | While you could certainly pay with any credit card, you will likely be hit with rather high interest rates if you don’t pay off the balance immediately. Most cards charge 14 percent or more. But there are ways around that.

      .tips__item-text
        | You could get a new card that offers a promotional 0% introductory APR. There are quite a few on the market. The best ones will give you over a year of interest-free financing, like the 
        a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-simplicity-card") Citi Simplicity card
        | . It’s a no-fee card, and it has the longest 0% intro APR period available at 21 months.

      .tips__item-text
        | In other words, you’ll have nearly two years to pay off your taxes without incurring any additional interest charges with the Simplicity card. That’s a great option to have.

    .tips__item
      h3.tips__item-title
        | Earn Rewards

      .tips__item-text
        | Anyone that knows anything about rewards credit cards knows that big purchases can earn big payouts. You could use any of the excellent travel rewards cards on the market, such as the 
        a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/chase-sapphire-preferred-card") Chase Sapphire Preferred 
        | or the 
        a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/premier-rewards-gold-card-from-american-express")
          | Premier Gold Rewards card from American Express

        | , and earn a lot of points by paying off a big tax bill. Those points could then be used for free flights, hotel rooms, car rentals and more.

      .tips__item-text
        | Unfortunately, no card offers a bonus for paying taxes, which means you’ll only earn one point per dollar. If you were able to maximize the value of those points, you may be able to come out ahead after covering the 2 to 3 percent fee for paying your property tax with a card. But it would take a little work to find the best redemptions. On top of that, you won’t get a 0% APR period, so you’ll want to pay your balance off as quickly as possible.

      .tips__item-text
        | A much more straightforward option would be to get a cashback card that also offers a promotional 0% APR period. You may be surprised to find out that there are a number of these cards on the market, and none of them charge an annual fee.

      .tips__item-text
        | Getting one of these 0% APR cashback cards is a great way to help offset the extra fees you’ll be charged for paying your taxes with a card. Since no card will offer tax payments as a bonus earning category, your best bet is to get a card that offers a fixed rate of return. That means every purchase, including paying your taxes, will earn a bonus.

      .tips__item-text
        | The 
        a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/chase-freedom-unlimited") Chase Freedom Unlimited card 
        | is a great choice if you want to go this route. Not only will you get interest-free financing for 15 months, but you’ll also earn 1.5 percent back on all purchases. That would knock down the fees for paying your taxes with a card at least in half. Perhaps even better than that, though, is the $150 sign-up bonus you’ll get for putting just $500 on the card within the first three months of account opening.

      .tips__item-text
        | The 
        a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/discover-it-cashback-match") Discover it card 
        | also offers cashback on all purchases and 0% APR for 14 months. It doesn’t come with a sign-up bonus, but Discover will match all of the cash back you earn in the first year as a card member. With the match, you’ll effectively get 2 percent back on your tax payments. That may be enough to cover all of the added fees.
