include ./svg-mixins

.upper__content
  .upper__text
    p.upper__text-under-title.upper__text-under-title--first
      | Every homeowner has to deal with the yearly hassle of paying property taxes. While it may seem unfair that one must pay for a house and land that has already been bought and paid for, property taxes are an important source of revenue for local governments. Revenue from property taxes is most consistently used to fund local public school systems, as well as other important county and municipal services. Nevertheless, no one wants to pay more in taxes if they can help it, and where you choose to purchase a home can make all the difference.

    p.upper__text
      | RewardExpert analyzed data from federal, state, and institutional sources to determine which U.S. counties with populations over 25,000 have the lowest, most affordable property taxes. In addition to county-specific property tax (millage) rates, we took into consideration home prices, average incomes, and state- and county-level policies concerning assessment or equalization ratios. Assessment or equalization ratios define the percentage of the market value of a property that is subject to taxation. See below for more information on this topic.
