-
  var northeast = {
    title: 'Northeast',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Sussex County',
        state: 'DE',
        text: 'Sussex County, the southernmost and most rural of Delaware’s three counties, takes first place in the region due to its assessment ratio: the county levies taxes on only 50 percent of the market value of a property, which reduces its already low 0.75 percent nominal property tax to an effective 0.37 percent rate. As a result, while median home sale prices are $329,000, the average tax bill in Sussex County is a very reasonable $1,228.'
      },
      {
        rankNum: 2,
        place: 'Cambria County',
        state: 'PA',
        text: 'Second place Cambria County, Pennsylvania, takes its place due to a low (relative to counties in the rest of the Northeastern region) property tax rate. Pennsylvania’s generous homestead and farmstead property tax exclusion exempts up to 50 percent of a property’s value (as assessed) from taxation. In November 2017, Pennsylvania voters approved a measure to permit local jurisdictions to exempt up to <a href="https://philly.curbed.com/2017/11/8/16622814/pa-property-tax-amendment-results">100 percent of a property’s assessed value</a> from taxation, although such higher exemption amounts have not yet been implemented at the local level. '
      },
      {
        rankNum: 3,
        place: 'Northumberland County',
        state: 'PA',
        text: 'It should surprise no one that another Pennsylvania county — Northumberland — takes third place. Located about an hour away from Scranton, Reading, and Allentown, Northumberland County is an attractive and affordable place to call home. Annual property tax bills here come out to an average of $600, and you and/or the seller will be liable for only $1,200 in property transfer taxes when you purchase a home (Pennsylvania counties levy an average of one percent on real estate sales).'
      },
      {
        rankNum: 4,
        place: 'Clearfield County',
        state: 'PA',
        text: 'Fourth place in the Northeastern region goes to yet another county in the Commonwealth of Pennsylvania. Containing vast swaths of pristine wilderness, courtesy of Pennsylvania’s long history of conservationism, Clearfield County residents enjoy an effective property tax rate of 0.61 percent and average annual tax bills that that take a nibble, not a bite, out of residents median annual per capita income of $46,173: a mere 1.46 percent.'
      },
      {
        rankNum: 5,
        place: 'Pittsylvania Count',
        state: 'VA',
        text: 'Rounding out our list in the Northeastern region is Pittsylvania County, Virginia. Home to the Virginia portion of the Danville metropolitan region that lies outside of the independent city’s borders, as well as the <a href="https://www.wsj.com/articles/SB121702806468386311">largest undeveloped uranium deposit</a> in the United States, Pittsylvania County residents enjoy healthy, but not unaffordable, real estate values (median sale price of $139,900 as of January 2018), very affordable property tax rates (effective tax rate of 0.65 percent), and solidly middle-class average annual per capita incomes ($46,192).'
      }

    ],
    iframe: '/property-taxes-northeast/',
    frameID: 'northeast',
    tableURL: 'northeast-full'
  };
  var southAtlantic = {
    title: 'South Atlantic',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Darlington County',
        state: 'CS',
        text: 'Homeowners across the South Atlantic region enjoy, as a rule, very affordable property tax bills, even in affluent urban and suburban counties. This is the work not only of low nominal property tax rates, but also results from generous property tax exemptions for homeowners, veterans, seniors, and persons with disabilities. Darlington County, South Carolina, is no exception, with a nominal tax rate of 0.375 percent (compared to the rate in Cambria County, Pennsylvania, of 1.26 percent). Like most states in the region that assess real property at full market value, South Carolina provides for an exemption of the first $100,000 of a home’s assessed value. For an average home in the county, this results in a tax bill based on only $39,000 of the median property value of $139,000: average annual property tax bills in Darlington County are but a trifle, a mere $146.'
      },
      {
        rankNum: 2,
        place: 'Jones County',
        state: 'MS',
        text: 'While second place Jones County, Mississippi, may have a nominal property tax rate that, at 0.68 percent, is significantly higher than in Darlington County, the effective tax rate here for homeowners turns out to be significantly lower, resulting in smaller tax bills on comparably priced properties, averaging $93 for a home valued at $137,500. This is due to Mississippi’s preposterously generous homestead exemption: homeowners receive property tax bills based only on the 10 percent of their property’s assessed value that remains after a 90 percent homestead exemption.'
      },
      {
        rankNum: 3,
        place: 'Walker County',
        state: 'AL',
        text: 'Located immediately to the northwest of Birmingham, Alabama’s Jefferson County, Walker County takes third place in the region on account of its having the lowest nominal property tax rate in the entire South Atlantic region: an insignificant 0.26 percent. This already low nominal rate is lowered for resident homeowners by a $60,000 homestead exemption provided for by state law. With a low property transfer tax rate of 0.25 percent, buyers of a home priced at the county-wide median of $145,750 will need to budget a mere $588 to cover their first year’s property tax liabilities: $365 in property transfer tax and $223 for their first year tax bill.'
      },
      {
        rankNum: 4,
        place: 'Lowndes County',
        state: 'MS',
        text: 'We will find our fourth place county in the Golden Triangle region of northern Mississippi: Lowndes County, centered upon the city of Columbus. As with all counties across the state, homeowners are charged property taxes on only 10 percent of their home’s value, and sales or other property transfers incur no taxes. Property values and annual per capita incomes are well above the state average in this relatively affluent majority-minority county: homes sell for a median price of $134,900; county residents have median incomes of $44,112, and are easily able to swing their $98.60 annual property tax bills.'
      },
      {
        rankNum: 5,
        place: 'Orangeburg County',
        state: 'SC',
        text: 'Finally, fifth place Orangeburg County, South Carolina, completes our list for the South Atlantic Region. Orangeburg residents pay taxes on only one-fifth of their home’s value, courtesy of South Carolina’s generous $100,000 exemption for resident homeowners. Homeowners in Orangeburg receive tax bills that average a mere $125 each year and benefit from being located only 37 miles from the state capital of Columbia, in a small city home to several institutions of higher learning.'
      }

    ],
    iframe: '/property-south-atlantic/',
    frameID: 'southatlantic',
    tableURL: 'southatlantic-full'
  };
  var southCentral = {
    title: 'South Central',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Crawford County',
        state: 'AR',
        text: 'When it’s a question of property tax bills and burdens, the South Central region is dominated by counties in the states of Arkansas and New Mexico, and for the same reason: real property is assessed at a mere 20 percent of its market value in Arkansas and 33.3 percent in New Mexico. In Crawford County, Arkansas, one of the most populous counties in the Ozarks region of the state, residents enjoy very low property tax bills, which at an average $192 amount to barely more than one-tenth of a percent of the average home value of approximately $145,000.'
      },
      {
        rankNum: 2,
        place: 'Craighead County',
        state: 'AR',
        text: 'In second place is Craighead County, one of the most affluent and populous of Arkansas’s 75 counties. The average tax bill received by a typical homeowner comes out to a measly $237. This amounts to barely more than one half of one percent of the median per capita income of county residents, which is $44,050, and reflects an effective tax rate of only 0.14 percent of a property’s assessed value.'
      },
      {
        rankNum: 3,
        place: 'St. Landry Parish',
        state: 'LA',
        text: 'The only county in the South Central region to earn a place in our top five is not a county at all, but the Parish of St. Landry, Louisiana. A generous exemption of $75,000 applies to owner-occupied residential properties in all 64 of Louisiana’s parishes, which reduces the assessed value of a typical home in St. Landry’s Parish by half for purposes of calculating property tax bills: and this results in a $167 annual property tax bill for a home priced at $132,000.'
      },
      {
        rankNum: 4,
        place: 'Lonoke County',
        state: 'AR',
        text: 'Coming in at fourth place is a county once again located in Arkansas. Lonoke County homeowners enjoy a remarkably affordable tax bill, especially given the county’s demographic and geographic profile. One of the principal counties comprising the Little Rock Metropolitan Area, containing many well-off suburban and exurban communities, Lonoke County naturally levies somewhat higher property tax rates in nominal terms, at least in comparison to other counties in the state. But this modest 0.88 percent is, of course, reduced by the state’s low assessment ratio. County residents have an average income slightly above the national median, at $56,247, and pay an average of $275 in taxes on their homes, or 0.49 percent of their annual income and 0.18 percent of their property’s value, each year.'
      },
      {
        rankNum: 5,
        place: 'Eddy County',
        state: 'NM',
        text: 'With a flying leap over the state of Texas, we land in southeastern New Mexico to find our fifth and final member of our top five in the region. Eddy County, New Mexico, which is located along the Texas state line, boasts even higher median incomes and home sale prices than Lonoke County, with a typical home in Eddy County valued at $175,000, and the median income for county residents is $57,285. Due to New Mexico’s statewide assessment level of 33.3 percent of fair market value, Eddy County homeowners’ tax bills are one-third that of counties elsewhere with comparable tax rates and values, and are further reduced, slightly, by a modest homestead deduction of $6,000. Tax bills average $329 per year on a home valued at the median sale price in the county.'
      }

    ],
    iframe: '/property-south-central/',
    frameID: 'southcentral',
    tableURL: 'southcentral-full'
  };
  var midwest = {
    title: 'Midwest',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Grant County',
        state: 'IN',
        text: 'With many states in the Midwestern region that have either mandated assessment ratios substantially below 100 percent of fair market value, or that offer generous and substantial property tax relief and exemption measures for homeowners and other classes of individuals, it is surprising the degree to which counties in Indiana crowd out very competitive counties in other states. Grant County has a median sale price of $75,945 for homes in the county, which results in tax bills that are lower here than anywhere else: $24.50 per year for the average county homeowner.'
      },
      {
        rankNum: 2,
        place: 'Vermillion County',
        state: 'IL',
        text: 'At second place, Vermillion County, Illinois, is the only county in the region that is not in Indiana. It is, however, possible to stand with one foot in Illinois and the other in Indiana along the eastern boundary of Vermillion County. Here, homeowners tax liabilities are reduced both by the assessment ratio employed in all but one of Illinois’ counties, which like New Mexico’s reduces the taxable value to 33.3 percent of market value, and Illinois’ General Homestead Exemption amount of $18,000. Owners of residential properties here also receive Illinois’ Tax Credit for Residential Real Property Taxes in the form of a five percent reduction their state income taxes.'
      },
      {
        rankNum: 3,
        place: 'Howard County',
        state: 'IN',
        text: 'Howard County residents benefit from Indiana’s aggressively generous Homestead and Supplemental Homestead exemptions: homeowners see their property’s taxable value reduced by the lesser of $45,000 or 60 percent, with an additional reduction of 35 percent on the first $600,000, and 25 percent above $60,000. Owners of homes in Howard County, Indiana, valued at or around the median list price for the county of $82,900 pay an average tax bill of only $58.'
      },
      {
        rankNum: 4,
        place: 'Delaware County',
        state: 'IN',
        text: 'Delaware County is the population center of eastern Indiana and home to the city of Muncie. With a countywide population of 117,000, it is unlike other populous counties that are home to mid-size cities elsewhere in that home prices are quite modest, with a median price of $78,000 Property tax bills for residents average an almost comically low $54, which works out to an effective tax rate of only 0.11 percent after applying exemptions.'
      },
      {
        rankNum: 5,
        place: 'Madison County',
        state: 'IN',
        text: 'Madison County is another populous county in the middle of Indiana, home to 129,000 souls snared in the space that lies between Indianapolis and Muncie, where the Indianapolis metropolitan area’s exurbs fade into farmland. Despite having a healthy median per capita income of $45,853, residents of Madison County pay little in property taxes on homes that are priced at or around an affordable median list price of $79,950: the average tax bill here is a mere $60 after exemptions, at a modest nominal tax rate of 0.86 percent.'
      }

    ],
    iframe: '/property-midwest/',
    frameID: 'midwest',
    tableURL: 'midwest-full'
  };
  var mountainWest = {
    title: 'Mountain West',
    info: 'Colorado dominates the mountain region for low property taxes. An extraordinarily low percentage (the lowest in the U.S.) of a property’s market value is subject to taxation: residential property is currently assessed at 7.96 percent of fair market value, while non-residential property is assessed at 29 percent. Even though we calculated our statistics using the average of these two, 18.18 percent, every county in our top five is in Colorado.',
    states: [
      {
        rankNum: 1,
        place: 'Pueblo County',
        state: 'CO',
        text: 'Pueblo County, with its modest — for Colorado — property values, boasts exceptionally affordable yearly tax bills of $371 or less, in spite of the facts that an average home in Pueblo County sells for $205,000, and the nominal tax rate is a not insubstantial one percent.'
      },
      {
        rankNum: 2,
        place: 'Mesa County',
        state: 'CO',
        text: 'Mesa County, like all 64 counties in Colorado, benefits from the statewide lowest-in-the-nation assessment ratio for residential properties. The average tax bill of $466 on a typical home worth $255,000 reduces the nominal tax rate of Mesa County of 1.01 percent to an effective rate of 0.18 percent, or less than one percent of the annual median per capita income of county residents, which stands at a respectable $49,825.'
      },
      {
        rankNum: 3,
        place: 'El Paso County',
        state: 'CO',
        text: 'Home to the city of Colorado Springs, the second largest city in Colorado, El Paso County is known far and wide for its low taxes, affordable living, and business-friendly atmosphere. With a population of 653,000 residents, a median per capita income of $63,600, median home prices of $325,000, and a major city and metro area, El Paso County is the only county of its kind in the nation to grace our list. Colorado’s statutory assessment ratio and the county’s modest nominal tax rate of 1.12 percent results in an average tax bill that is no more than $662, or 1.01 percent of a typical resident’s yearly income.'
      },
      {
        rankNum: 4,
        place: 'Weld County',
        state: 'CO',
        text: 'Centered on the city of Greely, Weld County stretches from the wealthy northern suburbs of the Denver metropolitan area northward to the Wyoming state line. It is the only county to appear on our list in the region, other than El Paso County, that is home to more than a quarter million residents, and one of only three across all regions. Weld County, moreover, is the only county here that is near one of the nation’s largest urban centers. Naturally, home prices are sky-high, averaging $359,000, as befits an affluent suburban county in a growing state where the median income for county residents is substantially above the national median, at $63,600. Weld County residents, however, pay a shockingly low annual tax bill of $822, which must take away some of the sting of a hefty mortgage payment.'
      },
      {
        rankNum: 5,
        place: 'La Plata County',
        state: 'CO',
        text: 'Coming in at fifth in the Mountain West region is La Plata County, home to the city of Durango, located high in the Rockies, along Colorado’s border with New Mexico. If not for Colorado’s low residential assessment ratio, there is no way that this county would come anywhere close to the top of our list: home prices here are almost scandalously high, with a median list price of more than half of a million dollars ($509,900). Fortunately, the county levies a rather low 0.97 percent nominal property tax rate, which as we have already noted, applies only to 7.96 percent of a residential property’s market value.'
      }

    ],
    iframe: '/property-mountain-west/',
    frameID: 'mountainwest',
    tableURL: 'mountainwest-full'
  };
  var pacificWest = {
    title: 'Pacific West',
    info: 'In the  Pacific West region the playing field is not slanted toward one state or another due to assessment or exemption policies. Every state in this region assesses property at 100 percent of fair market value, and no state in this region provides exemptions amounting to a significant percentage of home prices. Effective tax rates here are either the same as the nominal rate for the county, or are slightly reduced (in the case of counties in California).',
    states: [
      {
        rankNum: 1,
        place: 'lamath County',
        state: 'OR',
        text: 'Klamath County, which lies on the southern border of Oregon, thus takes first place for simple and straightforward reasons: it is home to some of the most modestly priced real estate in the region (the median sale price is $194,000), it charges a reasonable tax rate of 1.23 percent, and Oregon has no property transfer tax. While the average tax bill of $2,378 is high compared to counties in other regions, this figure is lower than in any other county in the Pacific West with a population greater than 25,000.'
      },
      {
        rankNum: 2,
        place: 'Hawaii County',
        state: 'HI',
        text: 'The Pacific West region, which includes Alaska, California, Hawaii, Oregon, and Washington, has some of the most expensive real estate in the country. Hawaii is no exception, and thus, the median home price in Hawaii County — the “Big Island” — of $439,950 is, in fact, fairly reasonable. While property taxes in Hawaii applies to 100 percent of market value, Hawaii County taxes real estate at only 0.82 percent.'
      },
      {
        rankNum: 3,
        place: 'Kenai Peninsula Borough',
        state: 'AK',
        text: 'Our third place county in the Pacific West is, once again, not a county: Alaska has no counties (and was, in fact, prohibited from forming counties in its earlier years as a territory). It is divided into boroughs, which, like Louisiana’s parishes, are equivalent to counties in most significant ways. As with Klamath County, Kenai Peninsula Borough appears on our list by virtue of its comparably modest property values (homes here sell at a median price of $239,000) and a reasonable 1.52 percent nominal tax rate. Median per capita incomes for residents of KPB are significantly higher than in either our first or second place counties, with borough residents earning $68,501 per year. As icing on the financial cake, homeowners here, like all state residents, receive a yearly dividend payment from the Alaska Permanent Fund (several hundred to a few thousand dollars).'
      },
      {
        rankNum: 4,
        place: 'Tulare County',
        state: 'CA',
        text: 'Both fourth place Tulare County, California, and fifth place Kings County are located south of Fresno in the San Joaquin Valley. Coincidentally, or not, the median price of a home is the same in both counties at $249,000. Tulare County is the more populous of the two, and is in fact the second most populous county to appear in the top five for any region, with more than 439,000 people calling it home. With a property tax rate of 1.39 percent and a median income of $45,768, Tulare County just barely edges out Kings county for number four.'
      },
      {
        rankNum: 5,
        place: 'Kings County',
        state: 'CA',
        text: 'Finally, at number five, we complete our list with Kings County, California, home to 149,000 people, and lying just to the south of Tulare County. Median incomes in the county are modestly higher than in its northerly neighbor, with residents earning $51,352. Even after applying California’s $6,000 homestead exemption, Kings County residents pay a slightly lower rate, 1.39 percent, which yields an average annual tax bill of $3,372, or 6.58 percent of the median yearly income of county residents, which is in fact quite reasonable by Pacific Coast standards. Ouch!'
      }

    ],
    iframe: '/property-pacific-west/',
    frameID: 'pacificwest',
    tableURL: 'pacificwest-full'
  };
