.cards
  padding: 45px 45px 60px 45px
  background-color: #ECEDFB
  border: 1px solid #AAACF0
  border-radius: 3px

  +respond-to($medium)
    padding: 32px 45px 32px 32px

  +respond-to($small)
    padding: 32px
    background-image: none

  +respond-to($xsmall)
    padding: 32px 16px

.cards__content
  display: flex
  flex-direction: row
  justify-content: space-around

  +respond-to($medium)
    margin-top: 45px

  +respond-to($small)
    margin-top: 0

  +respond-to($xsmall)
    flex-direction: column
    align-items: center

.cards-item-img
  margin-bottom: 12px
  box-shadow: 0 5px 15px 0 #AAAAC9
  border-radius: 7px

.cards-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  cursor: pointer

  &:hover
    .cards-item-text
      border-bottom: 1px solid rgba(255, 255, 255, 0)

  +respond-to($xsmall)
    margin-bottom: 24px
    &:last-child
      margin-bottom: 0

.cards-item-text-wrap
  display: inline-block
  text-align: center

.cards-item-text
  @extend .main-link
  color: #1E92CC
