doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b0404e79ee914ff"></script>
    link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
    title 2018's Property Taxes by Counties and States

  body
    .page__wrap
      include ./partials/header.jade

      article.main-article
        .content
          include ./partials/featured-cards.jade

          include ./partials/main-block.jade

          section.section.section--upper
            include ./partials/upper.jade

          section.section.section--notes
            include ./partials/notes.jade

          include ./partials/states.jade

          include ./partials/state-ranking.jade

          section.section.section--tips
            include ./partials/tips.jade

          section.section.section--cards
            include ./partials/cards.jade

          section.section.section--methodology
            include ./partials/methodology.jade

          section.related
            include ./partials/related.jade

          include ./partials/pswp.jade

      include ./partials/footer.jade

    script(type='text/javascript', src='js/script.min.js')
